# This file is for Amazon internal build processes

# Copyright 2019 Amazon.com, Inc. or its affiliates.
# SPDX-License-Identifier: Apache-2.0

# declare all the necessary files/dirs used to AMI here. These files will be built into archive and then build AMI based on it.
dependencies:
  source:
    dirs:
      - src: files/
      - src: scripts/
    files:
      - src: Makefile
      - src: eks-worker-al2.json
      - src: amazon-eks-nodegroup.yaml
archive:
  name: amazon-eks-ami.tar.gz
  type: tgz