policy_module(node_exporter, 1.0)

require {
    type container_t;
    type security_t;
    type init_t;
    class file { open read getattr };
    class dir { search };
}

# Allow node_exporter to read SELinux enforcement status
# Reads /sys/fs/selinux/enforce
allow container_t security_t:file { open read getattr };

# Allow node_exporter to search init process directory
# Searches /proc/1
allow container_t init_t:dir search;

# Allow node_exporter to read init process files
# Reads files like /proc/1/mountinfo, /proc/1/stat, etc.
allow container_t init_t:file { open read getattr };
