version: 2.1

# workflow jobs definition
jobs:
  prepare_env:
    # job to prepare build environment
    docker:
      - image: 411466821576.dkr.ecr.us-west-2.amazonaws.com/devops/ci/packer:0.0.1
    working_directory: ~/aws_ecr_ami
    steps:
      - checkout:
          path: ~/aws_ecr_ami
      - persist_to_workspace:
          root: "~"
          paths:
            - aws_ecr_ami
  validate:
    docker:
      - image: 411466821576.dkr.ecr.us-west-2.amazonaws.com/devops/ci/packer:0.0.1
    steps:
      - attach_workspace:
            at: .
      - run:
          name: Packer Validate
          command: cd aws_ecr_ami && make -e -j2 all-validate
  build:
    docker:
      - image: 411466821576.dkr.ecr.us-west-2.amazonaws.com/devops/ci/packer:0.0.1
    steps:
      - attach_workspace:
            at: .
      - run:
          name: Prepare BUILD_TAG env
          command: |
            NORMALIZED_BRANCH_NAME=$(echo ${CIRCLE_BRANCH} | sed 's/[^a-zA-Z0-9]/-/g' | cut -c 1-50)
            echo "export BUILD_TAG=${NORMALIZED_BRANCH_NAME}-${CIRCLE_BUILD_NUM}-${CIRCLE_SHA1::7}" >> ${BASH_ENV}
      - run:
          name: Packer build
          # AWS sometimes take really long to finish ami build.
          # By default, Circle CI have 10 minutes timeout without response,
          # so we must extend that timeout limit to be sure that ami build can pass
          no_output_timeout: 60m
          command: cd aws_ecr_ami && make -e -j2 all
workflows:
  aws_eks_ami:
    jobs:
      - prepare_env:
          context: AWS_OPERATIONS_DEV_0
      - validate:
          name: validate main
          context:
            - AWS_OPERATIONS_0
            - PACKER_OPERATIONS_0
          filters:
            branches:
              only:
                - main
          requires:
            - prepare_env
      - validate:
          name: validate dev
          context:
            - AWS_OPERATIONS_DEV_0
            - PACKER_OPERATIONS_DEV_0
          filters:
            branches:
              only:
                - dev
          requires:
            - prepare_env
      - build:
          name: build main
          context:
            - AWS_OPERATIONS_0
            - PACKER_OPERATIONS_0
          requires:
            - validate main
          filters:
            branches:
              only:
                - main
      - build:
          name: build dev
          context:
            - AWS_OPERATIONS_DEV_0
            - PACKER_OPERATIONS_DEV_0
          requires:
            - validate dev
          filters:
            branches:
              only:
                - dev
