# see: https://github.com/amazonlinux/amazon-ec2-net-utils/blob/3261b3b4c8824343706ee54d4a6f5d05cd8a5979/udev/99-vpc-policy-routes.rules#L2
SUBSYSTEM=="net", ACTION=="add", ENV{ID_NET_DRIVER}=="vif|ena|ixgbevf", PROGRAM="/usr/bin/nodeadm-internal udev-net-managed-by --interface $name", RESULT!="io.systemd.Network", ENV{ID_NET_MANAGED_BY}="$result"
SUBSYSTEM=="net", ACTION=="remove", ENV{ID_NET_DRIVER}=="vif|ena|ixgbevf", RUN+="rm -rf 70-eks-$name.network"
