SUBSYSTEM=="net", ACTION=="remove", ENV{ID_NET_DRIVER}=="vif|ena|ixgbevf", PROGRAM="/usr/bin/nodeadm util network-interface-owner --interface-id=$name", RUN+="/usr/bin/systemctl disable --now refresh-policy-routes@$name.timer policy-routes@$name.service"
SUBSYSTEM=="net", ACTION=="add", ENV{ID_NET_DRIVER}=="vif|ena|ixgbevf", PROGRAM="/usr/bin/nodeadm util network-interface-owner --interface-id=$name", RUN+="/usr/bin/systemctl enable --now --no-block policy-routes@$name.service"