[Unit]
Description=Nvidia Bootstrap Service
After=network.target nodeadm-config.service

[Service]
Type=oneshot
ExecStart=/etc/eks/bootstrap_gpu.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
