[Unit]
Description=Configure multicard interfaces
Requires=network-online.target
After=network-online.target
Before=containerd.service kubelet.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/configure-multicard-interfaces.sh

[Install]
WantedBy=multi-user.target