[Unit]
Description=EKS Nodeadm Boot Hook
Documentation=https://github.com/awslabs/amazon-eks-ami
# this unit must precede all other nodeadm units because it sets the
# expectation for OS networking.
Before=nodeadm-config.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nodeadm-internal boot-hook

[Install]
WantedBy=multi-user.target
