[Unit]
Description=EKS Nodeadm Boot Hook
Documentation=https://github.com/awslabs/amazon-eks-ami
# this unit must precede all other nodeadm units because it sets the
# expectation for OS networking.
Before=nodeadm-config.service
# must follow networkd as it requires network availability for reading
# interface information from IMDS. Assumes the IMDS client used will
# retry enough to capture eventual network readiness
After=systemd-networkd.service
# precede systemd-networkd-wait-online so future nodeadm services can rely on
# that service as a source of truth on the configurations made by this service
Before=systemd-networkd-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nodeadm-internal --console boot-hook

[Install]
WantedBy=multi-user.target
