[Unit]
Description=Setup local instance storage for use by kubelet, containerd
Before=containerd.service kubelet.service

[Service]
Type=oneshot
Environment=LOCAL_DISK_STRATEGY=none
ExecStart=/usr/bin/setup-local-disks $LOCAL_DISK_STRATEGY

[Install]
WantedBy=multi-user.target
