[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --config=/var/lib/kubelet/kubelet-configuration.yaml \
  --allow-privileged=true \
  --cloud-provider=aws \
  --cni-bin-dir=/opt/cni/bin \
  --cni-conf-dir=/etc/cni/net.d \
  --container-runtime=docker \
  --network-plugin=cni \
  --register-node=true \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
   $KUBELET_ARGS $KUBELET_EXTRA_ARGS

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
