[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/sbin/iptables -P FORWARD ACCEPT
ExecStart=/usr/bin/kubelet --cloud-provider aws \
    --config /etc/systemd/system/kubelet.service.d/config-kubelet.conf \
    --kubeconfig /var/lib/kubelet/kubeconfig \
    --allow-privileged true\
    --container-runtime docker \
    --network-plugin cni \
    --register-node true $KUBELET_ARGS $KUBELET_EXTRA_ARGS

Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
