[Unit]
Description=Keep system time synced

[Service]
Type=oneshot
ExecStart=/usr/sbin/ntpdate -v 0.amazon.pool.ntp.org 1.amazon.pool.ntp.org 2.amazon.pool.ntp.org 3.amazon.pool.ntp.org
