policy_module(node_exporter_container, 1.0)

require {
    type container_t;
    type kernel_t;
    type security_t;
    type init_t;
    class tcp_socket { read write };
    class file { open read getattr };
    class dir { search };
}

# Allow TCP socket read/write
allow container_t kernel_t:tcp_socket { read write };

# Allow reading and inspecting selinuxfs enforce file
allow container_t security_t:file { open read getattr };

# Allow listing /proc directories
allow container_t init_t:dir search;

# Allow opening and reading /proc/1/mountinfo
allow container_t init_t:file { open read };
