name: Deploy documentation
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
jobs:
  mkdocs:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # 6.2.0
      with:
        go-version: 'stable'
    - run: |
        pushd nodeadm && make wasm && popd
        mkdir -p ./site/assets/wasm && cp ./nodeadm/_bin/nodeadm.wasm ./site/assets/wasm/
        mkdir -p ./site/assets/javascripts && cp "$(go env GOROOT)/lib/wasm/wasm_exec.js" ./site/assets/javascripts/
    - run: pip install mkdocs mkdocs-material
      # use the --dirty flag so that we dont purge our custom assets
    - run: mkdocs gh-deploy --dirty --no-history --force
