name: Deploy documentation
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
jobs:
  mkdocs:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: pip install mkdocs mkdocs-material
    - run: mkdocs gh-deploy --strict --no-history --force
