name: "[Release] Update CHANGELOG.md"
on:
  release:
    types: [released]
permissions:
  contents: write
  pull-requests: write
jobs:
  setup:
    # this workflow will always fail in forks; bail if this isn't running in the upstream
    if: github.repository == 'awslabs/amazon-eks-ami'
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.variables.outputs.tag_name }}
    steps:
      - id: variables
        run: |
          echo "tag_name=$(echo ${{ github.ref }} | cut -d/ -f3)" >> $GITHUB_OUTPUT
  update-changelog:
    runs-on: ubuntu-latest
    needs:
      - setup
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
        with:
          repository: awslabs/amazon-eks-ami
          ref: refs/heads/main
          path: amazon-eks-ami/
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # 8.0.0
        with:
          script: |
            const fs = require('fs');
            const changelogPath = './amazon-eks-ami/CHANGELOG.md';
            const placeholder = '<!--new-changelog-entry-placeholder-->';
            const tagName = '${{ needs.setup.outputs.tag_name }}';
            const release = await github.rest.repos.getReleaseByTag({
              tag: tagName,
              owner: context.repo.owner,
              repo: context.repo.repo,
            });
            const changelog = fs.readFileSync(changelogPath, 'utf8');
            if (changelog.includes(release.data.name)) {
              throw new Error(`changelog already includes ${release.data.name}`);
            }
            const newEntry = `# ${release.data.name}\n${release.data.body}`;
            let updatedChangelog = changelog.replace(placeholder, placeholder + '\n\n' + newEntry + '\n---\n');
            // if the release notes are modified in the GitHub web editor, trailing spaces can be added accidentally
            updatedChangelog = updatedChangelog.split('\n').map(s => s.replace(/\s+$/, '')).join('\n');
            fs.writeFileSync(changelogPath, updatedChangelog);
      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # 7.0.9
        with:
          branch: update-changelog
          path: amazon-eks-ami/
          add-paths: CHANGELOG.md
          commit-message: "chore(docs): update CHANGELOG.md for release ${{ needs.setup.outputs.tag_name }}"
          committer: "GitHub <noreply@github.com>"
          author: "GitHub <noreply@github.com>"
          title: "chore(docs): update CHANGELOG.md for release ${{ needs.setup.outputs.tag_name }}"
          labels: |
            changelog/exclude
          body: |
            Adds CHANGELOG.md entry for release [${{ needs.setup.outputs.tag_name }}](https://github.com/awslabs/amazon-eks-ami/releases/tag/${{ needs.setup.outputs.tag_name }}).
