## <summary>policy for nodeadm</summary>

########################################
## <summary>
##      Execute nodeadm_exec_t in the nodeadm domain.
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed to transition.
## </summary>
## </param>
#
interface(`nodeadm_domtrans',`
        gen_require(`
                type nodeadm_t, nodeadm_exec_t;
        ')

        corecmd_search_bin($1)
        domtrans_pattern($1, nodeadm_exec_t, nodeadm_t)
')

######################################
## <summary>
##      Execute nodeadm in the caller domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`nodeadm_exec',`
        gen_require(`
                type nodeadm_exec_t;
        ')

        corecmd_search_bin($1)
        can_exec($1, nodeadm_exec_t)
')