policy_module(nodeadm, 1.0.0)

########################################
#
# Declarations
#

type nodeadm_t;
type nodeadm_exec_t;
init_daemon_domain(nodeadm_t, nodeadm_exec_t)

permissive nodeadm_t;

########################################
#
# nodeadm local policy
#
allow nodeadm_t self:fifo_file rw_fifo_file_perms;
allow nodeadm_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(nodeadm_t)

files_read_etc_files(nodeadm_t)

miscfiles_read_localization(nodeadm_t)
